*
  +box-sizing(border-box)

body
  background-color: $white
  font: 16px 'VAG Rounded W01 Light'
  text-align: center
  padding-top: 0px

h1, h2, h3, h4, h5, h6
  font-family: 'VAG Rounded W01 Bold'
  font-weight: bold
  small
    font-weight: normal
    color: $medium-text-color

strong 
  font-family: 'VAG Rounded W01 Bold'
  font-weight: normal
a
  color: $link-color
  &:hover
    color: $dark-text-color